* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --Dark-Coral: #c6553b;
  --Middle-Yellow: #ecbc76;
  --Fulvous: #e48700;
  --Chinese-Red: #ad3113;
  --Philippine-Gold: #b87514;
  --Blueberry: #4285f4;
  --Gray: #808080;
  --Silver-Chalice: #ababab;
  --Philippine-Gray: #8d8d8d;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
}
header .container nav a {
  font-size: 20px;
  font-weight: 600;
  color: var(--Dark-Coral);
  margin-left: 25px;
}
section .container {
  height: 100vh;
  display: flex;
}
.container .middle_yellow {
  position: relative;
  width: 50%;
  background-color: var(--Middle-Yellow);
  background-image: url(../images/saly.webp);
  background-repeat: no-repeat;
  background-position: center;
}
.container .middle_yellow::before {
  content: "";
  position: absolute;
  top: 67%;
  right: 0;
  width: 79%;
  height: 1px;
  background-color: #000;
}
.container .white {
  position: relative;
  width: 50%;
  background-color: var(--white);
  background-image: url(../images/saly-1.webp);
  background-repeat: no-repeat;
  background-position: center;
}
