* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --Dark-Coral: #c6553b;
  --Middle-Yellow: #ecbc76;
  --Fulvous: #e48700;
  --Chinese-Red: #ad3113;
  --Philippine-Gold: #b87514;
  --Old-Lace: #fff4e3;
  --Blueberry: #4285f4;
  --Gray: #808080;
  --Silver-Chalice: #ababab;
  --Philippine-Gray: #8d8d8d;
  --shadow: #6862623f;
  --Cultured: #f6f6f6;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding: 20px 0;
}
header .container nav a {
  font-size: 20px;
  font-weight: 600;
  color: var(--Dark-Coral);
  margin-left: 25px;
}
section .container {
  display: flex;
}
section .container .middle_yellow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Middle-Yellow);
  height: 100vh;
  width: 50%;
}
section .container .middle_yellow img {
  border-bottom: 2px solid;
  padding-right: 150px;
}
@media (min-width:991px) {
  section .container{
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
section .container .white {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100vh;
  background-color: var(--white);
}
section .container .login {
  position: absolute;
  left: 30%;
  top: 5%;
  width: 40%;
  background-color: var(--white);
  border-radius: 40px;
  box-shadow: 0px 4px 35px 0px var(--shadow);
  z-index: 2;
  padding: 20px;
}
section .container .login .titel {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
section .container .login .titel .sign_in span {
  font-size: 20px;
  font-weight: 400;
}
section .container .login .titel .sign_in h1 {
  font-size: 55px;
  font-weight: 500;
}
section .container .login .titel .sign_up span {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: var(--Philippine-Gray);
}
section .container .login .titel .sign_up a {
  font-size: 16px;
  font-weight: 400;
  color: var(--Philippine-Gold);
}
section .container .login form {
  padding: 20px;
}
section .container .login form label {
  font-size: 16px;
  font-weight: 400;
}
section .container .login form input {
  display: block;
  width: 100%;
  border: 1px solid var(--Silver-Chalice);
  border-radius: 9px;
  outline: none;
  padding: 15px;
  margin-top: 7px;
}
section .container .login form input[type="email"] {
  border: 1px solid var(--Blueberry);
}
section .container .login form .info_user {
  display: flex;
  gap: 10px;
  width: 100%;
}
section .container .login form .info_user .contact_number,
.user_name {
  width: 100%;
}
section .container .login form a {
  display: block;
  text-align: end;
  font-size: 13px;
  font-weight: 400;
  color: var(--Chinese-Red);
  padding: 10px 0 20px 0;
}
section .container .login form input[type="submit"] {
  background-color: var(--Fulvous);
  font-size: 16px;
  font-weight: 500;
  box-shadow: 0px 4px 35px 0px var(--shadow);
  color: var(--white);
  border: none;
  border-radius: 10px;
}
section .container .login .or {
  padding: 20px;
}
section .container .login .or span {
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: var(--Silver-Chalice);
  padding: 20px 0;
}
section .container .login .or .social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
section .container .login .or .social_icon .google {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 219px;
  background-color: var(--Old-Lace);
  color: var(--Philippine-Gold);
  font-size: 16px;
  font-weight: 400;
  border-radius: 9px;
  padding: 10px;
}
section .container .login .or .social_icon .google img {
  padding-right: 20px;
}
section .container .login .or .social_icon a {
  display: flex;
  align-items: center;
  background-color: var(--Cultured);
  border-radius: 9px;
  padding: 10px;
}
section .container .white {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100vh;
  background-color: var(--white);
}
@media (max-width: 991px) {
  section {
    height: 100vh;
    background-color: var(--Middle-Yellow);
  }
  section .container .login {
    width: 100%;
    left: 0;
    margin-top: 50px;
  }
  section .container .login .titel .sign_in .lorem {
    color: var(--Fulvous);
    font-weight: 600;
  }
  section .container .login form {
    padding-top: 100px;
  }
  section .container .login .titel {
    padding: 6px;
  }
  section .container .login .titel .sign_in h1 {
    font-size: 30px;
  }
  section .container .login .titel .sign_in span,
  section .container .login .or .social_icon .google {
    font-size: 11px;
  }
  section .container .login form label {
    font-size: 14px;
  }
  section .container .login .or {
    width: 90%;
    position: absolute;
    top: 21%;
  }
  section .container .login .or span , 
  section .container .middle_yellow,
  section .container .white {
    display: none;
  }
}
